:root { 

    /* PRIMARY COLORS */ 

    --clr-primary-bg: hsl(185, 75%, 39%); 
    --clr-primary-txt: hsl(229, 23%, 23%); 
    --clr-primary-dgb: hsl(227, 10%, 46%); 

    /* NEUTRAL COLORS */ 

    --clr-neutral-txt: hsl(0, 0%, 59%); 

    /*ACCENT COLORS */ 
    /*FONT SIZE */ 

    --fs-sm: .5rem;
    --fs-base: .8rem; 
    --fs-md: 1.125rem;

    /*FONT WEIGHT */ 

    --fw-regular: 400; 
    --fw-bold: 700; 

}


* { 
    box-sizing: border-box;
    margin: 0; 
    padding: 0; 
    font: inherit; 
    font-family: "Kumbh Sans", sans-serif;
}

html,
body { 
    height: 100%; 
    width: 100;
}

body, 
main { 
    display: flex; 
    align-items: center;
    justify-content: center;
}

body { 
    background: var(--clr-primary-bg);
    /* position: relative; */
    
}

img { 
    /* width: 100%; */
    display: block; 
}

ul { 
    list-style: none;
}



.card { 
    position: relative;
    border-radius: 1rem;
    background: white; 
    box-shadow: 1rem 1rem 5rem rgba(0, 0, 0, .1);
}

.card::before { 
   content: '';
   position: absolute;
   background-image: url('public/bg-pattern-top.svg');
   width: 200%; 
   aspect-ratio: 1;
   top: -100%; 
   left: -170%; 
   background-position: center;
   background-size: cover;
   z-index: -1;

}

.card::after { 
   content: '';
   position: absolute;
   background-image: url('public/bg-pattern-bottom.svg');
   width: 200%; 
   aspect-ratio: 1;
   top: 60%; 
   left: 60%; 
   background-position: center;
   background-size: cover;
   z-index: -1;

}

.pattern-img { 
    border-radius: 1rem 1rem 0 0;
}

.profile{ 
    text-align: center;
    
}

.profile img { 
    margin: 0 auto; 
    border: 4px solid white;
    border-radius: 50%;
    transform: translateY(-50%);
}

.contact-info { 
    transform: translateY(-70%); 
}

h2 { 
    color: var(--clr-primary-txt); 
    font-size: var(--fs-md); 
    font-weight: var(--fw-bold); 
}

h2 span { 
    color: var(--clr-neutral-txt); 
    font-weight: var(--fw-regular); 
}

.contact-info p { 
    font-size: var(--fs-base); 
    color: var(--clr-neutral-txt); 
    padding-top: 0.6rem;
}

hr { 
    border: none; 
    height: 1px;  
    background: rgb(224, 224, 224); 
}

.stats { 
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin: 2rem 0;
}

.stats li { 
    text-align: center;

}

.follower-count { 
    font-size: var(--fs-md);
    font-weight: var(--fw-bold);
}

.label { 
    font-size: var(--fs-sm); 
    color: var(--clr-neutral-txt);
    letter-spacing: 2px;
    padding-top: .2rem;
}